* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --swiper-theme-color: #fff !important;
  --swiper-navigation-size: 48px !important;
}

body {
  font-family: 'Pretendard', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fafafa;
}

.content-wrap {
  height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}

.content-wrap section {
  min-height: 100vh;
  scroll-snap-align: start;
}
.content-wrap header,
.content-wrap footer {
  scroll-snap-align: start;
}

/* 컨테이너 공통 */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* 헤더 */
.header {
  padding: 1rem 0;
}

.header h1 {
  display: flex;
  gap: 8px;
}

.nav {
  margin-top: 16px;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.nav a:hover {
  color: #acacac;
}

/* 히어로 */
.hero {
  background: url("/assets/images/background.webp") center no-repeat;
  background-color: #000;
  background-size: min(120%, 1000px);
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-attachment: fixed;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.44);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: keep-all;
}

.hero-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.btn {
  background: #000;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.4);
}

.btn:hover {
  background: #282727;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.7);
}

/* 소개 섹션 */
.about {
  padding: 4rem 0;
  text-align: center;
}

.about h2 {
  font-size: 2rem;

  margin-bottom: 1.5rem;
}

.review {
  font-size: 1.5rem;
}

.review::before {
  content: '"';
  font-size: 3rem;
  vertical-align: top;
  line-height: 1;
}

.review::after {
  content: '"';
  font-size: 3rem;
  vertical-align: bottom;
  line-height: 1;
}

/* 갤러리 */
.gallery {
  /* padding: 4rem 0; */
  background: #fff;
}

.gallery h2 {
  text-align: center;
  margin-bottom: 2rem;
}

/* 오시는 길 */
.contact {
  padding: 4rem 0;
  text-align: center;
  word-break: keep-all;
}

.contact h2 {
  margin-bottom: 1rem;
}

.contact-info a {
  color: #ff6b6b;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.map-location-wrap {
  margin: 2rem auto;
  width: min(100%, 800px);
}

.map-location-wrap img {
  width: 100%;
}

/* 푸터 */
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 0.9rem;
}

.bottom-btns {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 9;
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 16px;
}

.bottom-btns a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.naver-talk-img {
  width: 24px;
  height: 24px;
}

.swiper {
  background-color: rgba(0,0,0,0.9);
  height: min(70vw, 1000px);
}

.swiper-slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slide-bg {
  width: 100%;
  height: 100%;
  background-size: cover !important;
}
.slide-bg.image-1 {
  background: url('/assets/images/slide1.webp') center no-repeat;
}

.slide-bg.image-2 {
  background: url('/assets/images/slide2.webp') center no-repeat;
}

.slide-bg.image-3 {
  background: url('/assets/images/slide3.webp') center no-repeat;
}

.slide-bg.image-4 {
  background: url('/assets/images/slide4.webp') center no-repeat;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
}